body{
    background: gray;
    margin: 0;
}
div h1{
    background: white;
    margin: 0;
    text-align: center;
}
div.container{
    background: white;
    margin: auto;
    width: 400px;
}
div.container h2, div.container p{
    padding: 10px;
}
div.container img{
    width: 100%;
}
div.post1 {
    margin-top: 30px;
}
span{
    display: inline-block;
    width: 10%;
    text-align: right;
    padding-right: 10px;
    color:gainsboro;
}
div.container h2 {
    display: inline-block;
    width: 80%;
}
div{
    box-sizing: border-box;
}